# {{ ansible_managed }}
[Unit]
Description=Traefik

[Service]
Type=notify
ExecStart={{ traefik_bin_path }} --configFile={{ traefik_conf_path }}
Restart=always
WatchdogSec=1s

[Install]
WantedBy=multi-user.target
